/* Configurando alinhamento inicial de texto e Fonte */
*{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-align: center;
}
/* Posicionamento */
body{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}
#background{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
#bible{
  padding-left: 1rem;
  padding-right: 1rem;
  z-index: 2;
}